<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
   async
   src="https://www.googletagmanager.com/gtag/js?id=G-56E0R44W80"
  ></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag() {
    dataLayer.push(arguments);
   }
   gtag("js", new Date());

   gtag("config", "G-56E0R44W80");
  </script>

  <meta charset="utf-8" />
  <meta
   name="keywords"
   content="IIT Hyderabad | Alumni Association | Alumni | Leadership | Summit | IIT Entrepreneurs | IITH"
  />
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
   name="description"
   content="IIT Hyderabad Alumni Association Official Website"
  />
  <meta
   name="author"
   content="IIT Hyderabad Alumni Association Official Website"
  />
  <link
   href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
   rel="stylesheet"
  />

  <title>{{ page.title }} | IITHAA</title>

  <!-- Favicons -->
  <link href="/assets/images/logo/iithaa-hori-old.png" rel="icon" />
  <link href="/assets/images/logo/iithaa-hori-old.png" rel="apple-touch-icon" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />

  <link rel="stylesheet" href="/assets/css/style.css" />

  <link rel="stylesheet" href="/assets/css/owl-carousel.css" />
 </head>
</html>
