<!-- ***** Header Area Start ***** -->
<!-- Just a comment to restart the deployment -->
<header class="header-area fixed-top header-sticky">
 <div class="container">
  <div class="row">
   <div class="col-12">
    <nav class="main-nav">
     <!-- ***** Logo Start ***** -->
     <a href="index.html" class="logo" style="color: #2e3192 !important">
      <img src="/assets/images/logo/iithaa-hori.png" style="width: 160px" />
      <!-- IITHAA -->
     </a>
     <!-- ***** Logo End ***** -->
     <!-- ***** Menu Start ***** -->
     <ul class="nav">
      <li class="scroll-to-section"><a href="/">Home</a></li>
      <li class="submenu">
       <a>About</a>
       <ul>
        <li><a href="/about">Mission & Vision</a></li>
        <li><a href="/committee">Committee</a></li>
       </ul>
      </li>
      <li><a href="/10on10">10/10</a></li>
      <li class="submenu">
       <a>Communities</a>
       <ul>
        <li>
         <a href="/local-chapter">Local Chapters</a>
        </li>
        <li>
         <a href="/entrepreneurship">Entrepreneurship</a>
        </li>
       </ul>
      </li>
      <li><a href="/events">Events</a></li>
      <li class="submenu">
       <a>Initiative</a>
       <ul>
        <li><a href="/medical-insurance">Group Medical Insurance</a></li>
       </ul>
      </li>
      <li><a href="/contact">Contact</a></li>
     </ul>
     <a class="menu-trigger">
      <span>Menu</span>
     </a>
     <!-- ***** Menu End ***** -->
    </nav>
   </div>
  </div>
 </div>
</header>
<!-- ***** Header Area End ***** -->
